---
export const prerender = false;
import ProductDetail from "@/vue-components/products/ProductDetail.vue";
import { actions } from "astro:actions";
import MainLayout from "src/layouts/MainLayout.astro";
import type { ProductType } from "src/models/productType";
const {id} = Astro.params;
const {user_id} = Astro.locals;
const {data} = await Astro.callAction(actions.product.getProductDetail, {id_product: id!});
const product : ProductType = (data! !== undefined) && Object.assign(data!);
---

<MainLayout>
  <div class="2xl:min-h-[81vh] xl:min-h-[77vh]">
    <ProductDetail product={product} id={user_id} server:defer client:load>
    </ProductDetail>
  </div>
</MainLayout>